body {
    position: relative;
    background:#b9e3f9;
    overflow: hidden;
    font-family: "Pacifico", Helvetica, sans-serif;
    font-size: 20px;
  }
  .card{
    width: 24rem;
    margin: 10px 0;
    box-sizing: border-box;
    margin: 0;    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }